body {background-color:powderblue;}
h1 {
  color:green;
  font-family:verdana;
  font-size:200%;
}
p {
  border: 1px solid red;
  padding:30px;
  margin:50px;
  color:yellow;
  font-family:courier;
  font-size:130%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

th {
    text-align: left;
}

table {
    border-spacing: 5px;
}

table#t01 {
    width: 100%;
    background-color: #f1f1c1;
}

table#t02 tr:nth-child(even) {
    background-color: #eee;
}
table#t02 tr:nth-child(odd) {
    background-color: #fff;
}
table#t02 th {
    color: white;
    background-color: black;
}
